{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/hikes/hike-index.css' %}" />
{% endblock %} {% block content %}

<section class="page-header">
    <h1>Hike List</h1>
</section>

<section class="card-container">
    {% for hike in hikes %}
    <div class="card">
        <a href="{% url 'hike-detail' hike.id %}">
            <div class="card-content">
                <div class="card-img-container">
                    <img src="{% static 'images/logo.png' %}" alt="Hike Tracker logo" />
                </div>
                <h2 class="card-title">{{ hike.name }}</h2>
                <p>Hike location: {{ hike.location }}</p>
                <p><small>{{ hike.description }}</small></p>
            </div>
        </a>
    </div>
    {% endfor %}
</section>

{% endblock %}